<h2>Check out these Super Powers!</h2>

<ul>
  <% @powers.each do |power| %>
    <li>
      <h3><%= link_to "#{power.name.split.map(&:capitalize).join(' ')}", power %></h3>
      <br>
      Description: <%= power.description %>
    </li>
    <br>
  <% end %>
</ul>


